/* Inspired by https://www.w3schools.com/w3css/w3css_trends.asp */
h1 {
   border-bottom: 2px solid gray;
}

h1, h2, h3 {
  border-left: 3px dotted gray;
  padding-left: 3px;
  padding-top: 4px;
}
.icon {
  border-radius: 50%;
  max-width: 70%;
  height: auto;
  margin-left: 40px;
}

li {
  line-height: 1.5;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

pre, p {
   padding-left: 40px;
   margin-bottom: -20px;
}
