/* Inspired by https://www.w3schools.com/w3css/w3css_trends.asp */
h1 {
   border-bottom: 2px solid gray;
}

h1, h2, h3 {
  border-left: 3px solid gray;
  padding-left: 3px;
}
.icon {
  border-radius: 50%;
  max-width: 70%;
  height: auto;
}
